@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 16% 16%; /* nord0 */
    --foreground: 218 27% 94%; /* nord6 */
    --muted: 220 16% 22%; /* nord1 */
    --muted-foreground: 218 27% 80%; /* nord4 */
    --popover: 222 16% 28%; /* nord2 */
    --popover-foreground: 218 27% 94%; /* nord6 */
    --card: 224 16% 32%; /* nord3 */
    --card-foreground: 218 27% 94%; /* nord6 */
    --border: 220 16% 22%; /* nord1 */
    --input: 220 16% 22%; /* nord1 */
    --primary: 193 43% 67%; /* nord8 */
    --primary-foreground: 218 27% 94%; /* nord6 */
    --secondary: 179 25% 65%; /* nord7 */
    --secondary-foreground: 218 27% 94%; /* nord6 */
    --accent: 210 34% 63%; /* nord9 */
    --accent-foreground: 218 27% 94%; /* nord6 */
    --destructive: 354 42% 56%; /* nord11 */
    --destructive-foreground: 218 27% 94%; /* nord6 */
    --ring: 193 43% 67%; /* nord8 */
    --radius: 0.5rem;
    --sidebar-background: 220 16% 22%; /* nord1 */
    --sidebar-foreground: 218 27% 80%; /* nord4 */
    --sidebar-primary: 193 43% 67%; /* nord8 */
    --sidebar-primary-foreground: 218 27% 94%; /* nord6 */
    --sidebar-accent: 210 34% 63%; /* nord9 */
    --sidebar-accent-foreground: 218 27% 94%; /* nord6 */
    --sidebar-border: 224 16% 32%; /* nord3 */
    --sidebar-ring: 193 43% 67%; /* nord8 */
  }

  .dark {
    --background: 216 16% 16%; /* nord0 */
    --foreground: 218 27% 94%; /* nord6 */
    --muted: 220 16% 22%; /* nord1 */
    --muted-foreground: 218 27% 80%; /* nord4 */
    --popover: 222 16% 28%; /* nord2 */
    --popover-foreground: 218 27% 94%; /* nord6 */
    --card: 224 16% 32%; /* nord3 */
    --card-foreground: 218 27% 94%; /* nord6 */
    --border: 220 16% 22%; /* nord1 */
    --input: 220 16% 22%; /* nord1 */
    --primary: 193 43% 67%; /* nord8 */
    --primary-foreground: 218 27% 94%; /* nord6 */
    --secondary: 179 25% 65%; /* nord7 */
    --secondary-foreground: 218 27% 94%; /* nord6 */
    --accent: 210 34% 63%; /* nord9 */
    --accent-foreground: 218 27% 94%; /* nord6 */
    --destructive: 354 42% 56%; /* nord11 */
    --destructive-foreground: 218 27% 94%; /* nord6 */
    --ring: 193 43% 67%; /* nord8 */
    --sidebar-background: 220 16% 22%; /* nord1 */
    --sidebar-foreground: 218 27% 80%; /* nord4 */
    --sidebar-primary: 193 43% 67%; /* nord8 */
    --sidebar-primary-foreground: 218 27% 94%; /* nord6 */
    --sidebar-accent: 210 34% 63%; /* nord9 */
    --sidebar-accent-foreground: 218 27% 94%; /* nord6 */
    --sidebar-border: 224 16% 32%; /* nord3 */
    --sidebar-ring: 193 43% 67%; /* nord8 */
  }
}


@layer base {
  * {
    @apply border-border;
    scroll-behavior: smooth;
    @apply font-sans;
  }
  body {
    @apply bg-background text-foreground;
    @apply overflow-x-hidden;
    @apply overscroll-contain;
    height: 100vh;
    width: 100vw;
    height: 100dvh;
    width: 100dvw;
  }
}